<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About - Online Shop</title>
    <link rel="stylesheet" href="stylesheets/adminStyle.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="icon" href="images/icon.png">
</head>

<body style="background-color: #FEFBEA;">
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <a href="/"><img src="/images/icon.png" style="width: 50px; height: 50px; position: absolute; left: 20%; top: 15px"></a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
                <li class="nav-item"><a class="nav-link" href="purchases">Purchases</a></li>
                <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacts">Contacts</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin"><b style="color: black">Admin</b></a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="bg-primary-gradient py-5">
    <div class="container py-5" style="background-color: #FEFBEA;">
        <div class="topnav">
            <div class="search-container">
                <form action="/admin">
                    <input type="text" placeholder="Search for Users..." name="search">
                    <button type="submit">Search</button>
                </form>
                <button onclick="location.href='/newproduct';">Add Product</button>
            </div>
        </div>

        {{{userList}}}
    </div>
</header>
<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/bs-init.js"></script>
<script src="js/bold-and-bright.js"></script>
</body>

</html>